doctype transitional
html(lang="en")
  head
    title="index"
    meta(http-equiv='Cache-Control' , CONTENT = 'no-cache')
    meta(http-equiv='Cache-Control' , CONTENT = 'max-age=0')
    meta(http-equiv="expires" , content="0")
    meta(http-equiv='pragma', content='no-cache')
  body
    br
    p Please enter the following information
    form(action="/purchase", method="post")
      table(border = '0')
        tbody
          tr
            td Name: 
            td #{userName}
          tr
            td Quantity
            td
              input(type = 'text', name = 'Quantity', size = '4', maxlength = '12')
          tr
            td Books
            td
              select(size = '9', name = 'Books', multiple = 'multiple')
                each val in books
                  option(value = val.id)
                    p #{val.name}
      br
      input(type = 'submit', name = 'SUBMIT')
      br
      a(href = '/landing') LOGOUT
      
    block content