doctype html
html(lang="en")
  head
    title="Bookstore: Logged in"
  body
    h1 Bookstore: Logged in
    br
    br
    p Welcome #{userName}, you have successfully logged in! Click 
      a(href="list") here 
      | to order some books!
      
    block content